body {
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTEwL3JtNDY3YmF0Y2g1LXNjZW5lLWgtMDA1Yy14LmpwZw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.container {
    color: black;
    font-size: 23px;
    font-family: 'poppins', sans-serif;
    margin-top: 120px;
    border: 1px solid black; 
    background-color: rgba(0, 0, 0, 0);
    padding-top: 100;
    padding-bottom: 30px;
    justify-content: space-between;
    width: 540px;
    margin-left: 370px;
    border-radius: 100px;
    width: 500px;
    margin-left: 400px;
    box-shadow: 4px 4px 10px 4px;
}
#username {
    padding: 5px;
    border-radius: 10px;
    border: none;
}
#password {
    padding: 5px;
    border-radius: 10px; 
    border: none;
}
#confirmPassword {
    padding: 5px;
    border-radius: 10px;
    border: none;
}
.register-btn {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 13px;
    border: none;
    background-color: antiquewhite;
}
.register-btn:hover {
    background-color: #081b29;
}
.btn-box {
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
    font-size: 15px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 10;
}
h1 {
    color: black;
}
